.my_animate {
    font-weight: normal;
    cursor: pointer;
    text-shadow: 0 0 20px transparent;
    color: transparent;
    animation: shadows 4s infinite ease-in;
}

@keyframes shadows {
    10% {
        text-shadow: 0 0px 1px hsl(0, 100%, 40%);
    }
    40% {
        text-shadow: 0 0px 0px red;
    }
    80% {
        text-shadow: 0 0px 0px red;
    }
    90% {
        text-shadow: 0 30px 40px transparent;
    }
}