.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.text-center{
  text-align: center;
}
.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 350ms ease-in;
}
.fade-exit.fade-exit-active {
  display: none;
}
h1{
    color: tomato;
    text-shadow: 0 2px 0 #000;
}
.top-menu + div{
    border-radius: 5px;
    margin: 30px;
    background-color: #f3ece1;
    padding: 10px;
    border: 1px solid transparent;
    border-bottom: 1px solid #c6c6c6;
    box-shadow: 0 0 1px #ccc;
}