.coinAmount {
    margin-bottom: 10px;
    border-bottom: none;
}

.coinAmount_text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin: 0 10px;
    border-radius: 5px;
    outline: none;
    color: tomato;
    text-shadow: 0 1px 0 #000;
    font-weight: bold;
    padding: 4.5px;
}

.coinAmount_text span {
    width: 60px;
}

.coinAmount_text ul {
    position: relative;
}

.coinAmount_text ul {
    display: flex;
    width: 100%;
    list-style-type: none;
    margin: 0;
    margin-left: 10px;
    padding: 0;
    text-shadow: none;
}

.coinAmount_text ul li {
    width: 25%;
    padding: 0 5px;
    text-align: right;
}
.coinAmount_info{
    display: flex;
    color: tomato;
    padding: 4.5px;
    margin: 0 10px;
    font-weight: bold;
}
.coinAmount_info span{
    font-weight: normal;

}
.coinAmount_info ul{
    list-style-type: none;
}
.coinAmount_info .img_block{
    width: 30%;
}
.coinAmount_info .img_block img{
    width: 100%;
    max-width: 200px;
    height: auto;
}
.coinAmount_text a{
    text-decoration: none;
    color: #acacac;
    transition: all .25s ease;
}
.coinAmount_text a:hover{
    text-decoration: none;
    color: tomato;
}
.coinInfo-enter {
    opacity: 0.01;
}

.coinInfo-enter.coinInfo-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.coinInfo-leave {
    opacity: 1;
}

.coinInfo-leave.coinInfo-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}
.coinInfo-appear {
    opacity: 0.01;
}

.coinInfo-appear.coinInfo-appear-active {
    opacity: 1;
    transition: opacity .5s ease-in;
}