html, body {
    font-family: 'Roboto', 'Helvetica', sans-serif;
}
.search{
    background-color: #c6c6c6;
    border-radius: .25rem;
}
.search-input{
    margin: 20px auto;
    max-width: 80%;
}
.movie{
    border-radius: .25rem;
    background-color: #fff;
    margin: 20px auto;
    display: flex;
    padding: 10px 20px 10px 10px;
}
.movie img {
    max-width: 200px;
}
.movie .info {
    margin-left: 10px;
}
.movie .data{
    text-align: justify;
}