.coinAmount{
    margin: 10px;
}
.coinAmount_label{
    position: relative;
    color: tomato;
    font-weight: bold;
    text-shadow: 0 1px 0 #000;
}
.warning{
    display: none;
    opacity: 0.75;
    position: absolute;
    top: -25px;
    left: 90%;
    background-color: tomato;
    border-radius: 5px;
    border: 1px solid red;
    text-shadow: none;
    color: white;
    white-space: nowrap;
    padding: 4px;
}
.coinAmount_input.alarm{
    border: 1px solid red;
}
.coinAmount_label .coinName{
    display: inline-block;
    width: 60px;
}
.coinAmount_input{
    padding-left: 10px;
    width: 60px;
    margin: 0 10px;
    height: 25px;
    border-radius: 5px;
    outline: none;
    color: tomato;
    text-shadow: 0 1px 0 #000;
    font-weight: bold;
}